body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

meeting
{
    padding: 2%;
    display: block;
    border-style: solid;
    border-color: white;
}

meeting:hover
{
    border-style: solid;
    border-color: gray;
}


motion
{
    background-color: #ffffff;
    display: block;
    padding: 2%;
}

.hoverable:hover
{
    background-color: #dddddd;
    cursor: pointer;
}

motionDesc
{
    margin: 3%;
    display: block;
}

.bylawName
{
    width: 120px;
}

td {
  vertical-align: top;
}

.indent
{
    margin-left: 20px;
}

.pad
{
    padding: 2%;
}

.hidden
{
    display:none;
}

.expandButton
{
    display: block;
    padding: 1px;
    margin: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.expandButton:hover
{
    background-color: #dddddd;
    cursor: pointer;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: #909090;
}

/* mouse over link */
a:hover {
  color: #aaaaaa;
}

/* selected link */
a:active {
  color: black;
}

.sidebar
{
    position: fixed;
    width: 125px;
    height: 120vh;
    overflow: auto;
    background-color: #003E7E;
    display: block;
    font-size: 2.5vh;
}

.info
{
    max-width: 700px;
    padding-left: 150px;
    padding-right: 25px;
    display: block;
}

#years
{
  margin-left: 15%;
  color: white;
  margin-block-end: 0.5em;
}

.sidebar-button
{
    background-color: #0e5084;
    padding: 1%;
    margin: auto;
    margin-bottom: 7%;
    border-radius: 5px;
    color: white;
    width: 70%;
    text-align: center;
    display: block;
}

@media only screen and (max-width: 1000px) {
  .sidebar
  {
    width: 100vw;
    height: 75px;
    position: static;
    padding-top: 5%;
    overflow-x: scroll;
    overflow-y: clip;
    padding-left: 2%;
  }

  #logo
  {
    display:none;
  }

  .sidebar-button
  {
    width: auto;
    text-align: center;
    display: inline;
    margin: 1%;
  }

  #years
  {
    display: inline;
    margin: 1%;
  }

  .info
  {
    padding: 0;
    margin: 2%;
    overflow-wrap: break-word;
  }
}

.sidebar-button:hover
{
    background-color: #004070;
    cursor: pointer;
}

/* unvisited link */
a.sidebar-button:link {
    text-decoration: none;
    color: white;
}

/* visited link */
a.sidebar-button:visited {
  color: white;
}

/* mouse over link */
a.sidebar-button:hover {
  color: #1f6ead;
}

/* selected link */
a.sidebar-button:active {
  color: white;
}

.fc-row
{
    height: 77px !important;
}

.fc-week
{
    height: 77px !important;
}

.fc-widget-content
{
    height: 77px !important;
}

li.attachment
{
    padding-top: 15px;
}

form{
    display: inline-block;
}