{% extends "layout.html" %}

{% block webTitle %}Home{% endblock %}

{% block head %}{% endblock %}

{% block title %}
    <h1>Unofficial Records of YEG City Council</h1>
{% endblock %}

{% block content %}

    <p>The goal of this website is to make the activities of Edmonton City Council more accessible!</p>

    <p>You can search for terms you are interested in the <a href="/search">Search</a> tab as well as view the meetings by year by clicking on one of the years on the sidebar.</p>

    <p>To get notified when new meeting information is released you can add our RSS feed to any RSS reader.</p>

    <p>To only be notified on certain subjects we also have RSS feeds for:</p>

    <ul style="margin: 0;">
        <li>Health</li>
        <li>Taxes</li>
        <li>Safety</li>
    </ul>

    <p>This website parses City Council meeting minutes from <a href="https://pub-edmonton.escribemeetings.com">https://pub-edmonton.escribemeetings.com</a>.</p>
    <p>This project is open source. You can view the code at <a href="https://github.com/SamuelmdLow/EdmontonCityCouncilFeed">https://github.com/SamuelmdLow/EdmontonCityCouncilFeed</a></p>

{% endblock %}
