{% extends "layout.html" %}

{% block webTitle %}Home{% endblock %}

{% block head %}
    <meta property="og:title" content="Home - Unofficial Yeg Records" />
{% endblock %}

{% block title %}
    <h1>Unofficial Records of YEG City Council</h1>
{% endblock %}

{% block content %}

    <p>The goal of this website is to make the activities of Edmonton City Council more accessible!</p>

    <p>To get notified when new meeting information is released you can add this <a href="/rss/all">RSS feed</a> to any RSS reader.</p>

    <p>You can search for terms you are interested in the <a href="/search">Search</a> tab.
        Searching will also create a custom RSS feed for only those terms that you can use!
    </p>

    <p>This website parses City Council meeting minutes from <a href="https://pub-edmonton.escribemeetings.com">https://pub-edmonton.escribemeetings.com</a>.</p>
    <p>This project is open source. You can view the code at <a href="https://github.com/SamuelmdLow/EdmontonCityCouncilFeed">https://github.com/SamuelmdLow/EdmontonCityCouncilFeed</a></p>
    <p>Contact samuel.m.d.low@gmail.com with any concerns or suggestions!</p>
{% endblock %}
