<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>
<body>
{% for meeting in meetings %}
    <meeting>
    <a href="{{meeting.url}}"><h1>{{ meeting.name }} - {{ meeting.date }}</h1></a>

    <div class="expandButton" onclick="toggle(this);">+</div><div class="pad">
        {% if meeting.agenda|length > 0 %}
        <h3>Agenda</h3>
        <div class="expandButton" onclick="toggle(this);">+</div><ul class="indent">
            {% for item in meeting.agenda %}
                <li class="pad hoverable">{{item}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if meeting.bylaws|length > 0 %}
        <h3>Bylaws</h3>
        <div class="expandButton" onclick="toggle(this);">+</div><table class="indent">
            {% for bylaw in meeting.bylaws %}
            <tr class="hoverable">
                <td class="pad bylawName">{{bylaw[0]}}</td>
                <td class="pad">{{bylaw[1]}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if meeting.motions|length > 0 %}
            <h3>Motions</h3>
            <div class="expandButton" onclick="toggle(this);">+</div><div class="indent">
            {% for motion in meeting.motions %}
                <div class="expandButton" onclick="toggle(this);">+</div><motion class="hoverable indent">
                <strong>{{motion.result}}: </strong>
                <motionDesc>{{motion.desc|safe}}</motionDesc>
                </motion>
            {% endfor %}
            </div>
        {% endif %}
    </div>
    </meeting>

{% endfor %}
</body>
</html>