<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for meeting in meetings %}

    <a href="{{meeting.url}}"><h1>{{ meeting.name }} - {{ meeting.date }}</h1></a>

    {% if meeting.agenda|length > 0 %}
    <h3>Agenda</h3>
    <ul>
        {% for item in meeting.agenda %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if meeting.bylaws|length > 0 %}
    <h3>Bylaws</h3>

    <table>
        {% for bylaw in meeting.bylaws %}
        <tr>
            <td>{{bylaw[0]}}</td>
            <td>{{bylaw[1]}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if meeting.motions|length > 0 %}
        <h3>Motions</h3>
        <ul>
        {% for motion in meeting.motions %}
            <li><strong>{{motion.result}}: </strong> {{motion.desc|safe}}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
</body>
</html>