<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block webTitle %}{% endblock %} - Unofficial Yeg Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='yegRecords_icon.svg') }}">
    <meta property="og:image" content="{{ url_for('static', filename='yegRecords_icon.svg') }}" />
    <meta property="og:description" content="Website for viewing and searching Edmonton City Council meeting records" />
  {% block head %}{% endblock %}
</head>
<body>

<sidebar>
    <img src="{{ url_for('static', filename='yegRecords_icon.svg') }}" width="80%" style="margin: 10%;">
    <a class="sidebar-button" href="/">Home</a>
    <a class="sidebar-button" href="/search">Search</a>
    <a class="sidebar-button" href="/rss/all">RSS</a>
    <p style="margin-left: 15%; color: white; margin-block-end: 0.5em;">Years</p>
    {% for itemYear in years %}
        <a class="sidebar-button" href="/year/{{itemYear}}">{{itemYear}}</a>
    {% endfor %}
</sidebar>

<info>
    <div style="height:100%; overflow: auto;">
        {% block title %}{% endblock %}
    </div>

    {% block content %}{% endblock %}

</info>

</body>
</html>