<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block webTitle %}{% endblock %} - Unofficial Yeg Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% block head %}{% endblock %}
</head>
<body>

<sidebar>
    <img src="https://www.edmonton.ca/themes/coe_edmontonca/favicon.ico" width="80%" style="margin: 10%;">
    <a class="sidebar-button" href="/">Home</a>
    <a class="sidebar-button" href="/search">Search</a>
    <p style="margin-left: 15%; color: white; margin-block-end: 0.5em;">Years</p>
    {% for itemYear in years %}
        <a class="sidebar-button" href="/year/{{itemYear}}">{{itemYear}}</a>
    {% endfor %}
</sidebar>

<info>
    <div style="height:100%; overflow: auto;">
        {% block title %}{% endblock %}
    </div>

    {% block content %}{% endblock %}

</info>

</body>
</html>