{% extends "layout.html" %}

{% block webTitle %}{{title}}{% endblock %}

{% block head %}
    <script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}

{% block title %}
    <h1>{{title}}</h1>
{% endblock %}

{% block content %}

<p>Due to inconsistencies in the source, sometimes information will not be retrieved correctly.</p>

{% for meeting in meetings %}
    <meeting>
    <a href="{{meeting.url}}"><h2>{{ meeting.name }}</h2></a>
    <p>{{ meeting.date[0:10] }}</p>
    <img class="expandButton" onclick="toggle(this);" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/VisualEditor_-_Icon_-_Expand.svg"><div class="pad">
        {% if meeting.agenda|length > 0 %}
        <h3>Agenda</h3>
        <img class="expandButton" onclick="toggle(this);" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/VisualEditor_-_Icon_-_Expand.svg"><ul class="indent">
            {% for item in meeting.agenda %}
                <li class="pad hoverable">
                    {{item[0]}}
                    {% if item[1]|length > 0 %}
                    <img class="expandButton" onclick="toggle(this);" src="https://upload.wikimedia.org/wikipedia/commons/3/32/VisualEditor_-_Icon_-_Collapse.svg"><div class="pad hidden">
                    <ul>
                    {% for attachment in item[1] %}
                        <li class="attachment"><a href="https://pub-edmonton.escribemeetings.com/{{attachment[1]}}" target="_blank">{{attachment[0]}}</a></li>
                    {% endfor %}
                    </ul>
                    </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if meeting.bylaws|length > 0 %}
        <h3>Bylaws</h3>
        <img class="expandButton" onclick="toggle(this);" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/VisualEditor_-_Icon_-_Expand.svg"><table class="indent">
            {% for bylaw in meeting.bylaws %}
            <tr class="hoverable">
                <td class="pad bylawName">{{bylaw[0]}}</td>
                <td class="pad">
                    {{bylaw[1]}}
                    {% if bylaw[2]|length > 0 %}
                    <img class="expandButton" onclick="toggle(this);" src="https://upload.wikimedia.org/wikipedia/commons/3/32/VisualEditor_-_Icon_-_Collapse.svg"><div class="pad hidden">
                    <ul>
                    {% for attachment in bylaw[2] %}
                        <li class="attachment"><a href="https://pub-edmonton.escribemeetings.com/{{attachment[1]}}" target="_blank">{{attachment[0]}}</a></li>
                    {% endfor %}
                    </ul>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if meeting.motions|length > 0 %}
            <h3>Motions</h3>
            <img class="expandButton" onclick="toggle(this);" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/VisualEditor_-_Icon_-_Expand.svg"><div class="indent">
            {% for motion in meeting.motions %}
                <img class="expandButton" onclick="toggle(this);" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/VisualEditor_-_Icon_-_Expand.svg"><motion class="hoverable indent">
                <strong>{{motion.result}}: </strong>
                <motionDesc>{{motion.desc|safe}}</motionDesc>
                </motion>
            {% endfor %}
            </div>
        {% endif %}
    </div>
    </meeting>

{% endfor %}
{% endblock %}