<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='search.js')}}"></script>
</head>
<body>
<sidebar>
<img src="https://www.edmonton.ca/themes/coe_edmontonca/favicon.ico" width="80%" style="margin: 10%;">
<a class="sidebar-button" href="/">Home</a>
<a class="sidebar-button" href="/search">Search</a>
<p style="margin-left: 15%; color: white; margin-block-end: 0.5em;">Years</p>
{% for itemYear in years %}
    <a class="sidebar-button" href="/year/{{itemYear}}">{{itemYear}}</a>
{% endfor %}
</sidebar>

<info>
    <div style="height:100%; overflow: auto;">
        <h1>Search</h1>
    </div>

    <input type="text" id="input">
    <input type="submit" id="submit" onclick="search()">
</info>

</body>
</html>